.place__title{
    max-width: 460px;
    min-height: min-content;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    vertical-align:bottom;
    margin: 0;
}
@media (max-width: 1200px){
    .place__title{
        width: 440px;
    }
 }
@media (max-width: 768px){
    .place__title{
        max-width: 340px;
        max-height: 92px;
        font-size: 42px;
        line-height: 110%;
        vertical-align: bottom;    
    }
}
@media (max-width: 320px){
    .place__title{
        max-width: 100%;
        max-height: 35px;
        margin: 0 16px;
        font-size: 32px;
        line-height: 109%; 
        text-align: left;       
    }
}