.cover__subtitle {
  max-width: 360px;
  max-height: 66px;
  font-family: Inter, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(100vw / 42);
  }
}
@media (max-width: 540px) {
  .cover__subtitle {
    max-width: 288px;
    max-height: 48px;
    font-size: 14px;
    line-height: 114%;
  }
}
