.header {
  display: flex;
  min-height: 52px;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
  width: calc(100% - 48px*2);
  margin: 28px auto 56px;
}
@media (max-width: 1200px) {
  .header {
    margin: 28px auto 52px;
  }
}
@media (max-width: 768px) {
  .header {
    width: calc(100% - 24px*2);
    margin: 28px auto 48px;
  }
}
@media (max-width: 540px) {
  .header {
    width: calc(100% - 16px*2);
    margin: 16px auto 48px;
  }
}