.footer__link {
  width: min-content;
  max-height: 18px;
  font-family: Inter, Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  text-decoration: none;
  color: #ffffff;
  margin: 0 18px 0 0;
}
.footer__link:last-child {
  margin: 0;
}
@media (max-width: 768px) {
  .footer__link {
    font-size: calc(100vw / 48);
  }
}
@media (max-width: 540px) {
  .footer__link {
    width: min-content;
    max-height: 24px;
    font-size: 24px;
    line-height: 100%;
    margin: 0 0 32px 0;
  }
}
