.places__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 1200px) {
  .places__card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .places__card {
    max-width: 720px;
  }
}
@media (max-width: 540px) {
  .places__card {
    max-width: 320px;
  }
}
