.intro__text {
  max-width: 690px;
  font-family: Inter, Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 40px 0 33px;
  text-align: left;
}
@media (max-width: 768px) {
  .intro__text {
    width: 100%;
    margin: 39px 0 30px;
  }
}
@media (max-width: 540px) {
  .intro__text {
    margin: 43px 0 31px;
  }
}
