.cover{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 740px;
    margin: 0 auto; 
}
@media (max-width: 1200px){
    .cover{
        max-height: 640px;
    } 
}
@media (max-width: 768px){
    .cover{
        max-height: 480px;
    }
}
@media (max-width: 320px){
    .cover{
        max-height: 200px;
    }
}