.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vw/1.73);
  margin: 0 auto;
  padding: 0;
  background-image: url(../../image/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}