.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vw / 1.95);
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1280px) {
  .cover {
    height: calc(100vw / 1.73);
  }
}
@media (max-width: 1200px) {
  .cover {
    max-width: 100%;
    height: calc(100vw / 1.6);
  }
}
