.place__link {
  max-width: 100%;
  font-family: Inter, Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration: underline;
  color: #ffffff;
}
@media (max-width: 768px) {
  .place__link {
    font-size: calc(100vw / 42.5);
  }
}
@media (max-width: 539px) {
  .place__link {
    font-size: 18px;
  }
}
