.lead__caption {
  width: 100%;
  margin: 8px 0 0;
  font-style: normal;
  font-weight: normal;
  font-family: Inter, Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  align-self: flex-start;
}
@media (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 8px;
  }
}
@media (max-width: 320px) {
  .lead__caption {
    font-size: calc(100vw / 32);
  }
}
